html {
  background-color: #f6f6f6;
}
body{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

/* User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size. */
img {
  width: 80%;
  max-width: 334px;
}
/* User Story #9: The img element should be centered within its parent element. */
#main{
  padding: 70px;
}
#img-div{
  display: flex; 
  flex-direction: column;
  align-items: center;


}
 
.columns2{
  display: flex;
  justify-content: space-between;
  

  background-color: silver;
}